{% extends "src/layouts/_article.html" %}

{% block content %}
<div class="article">
  <div class="article-container">
    <p class="article__date">Sunday , 1 Jan 2023</p>
    <img src="/assets/img/article-img.jpg" alt="article img">
    <h1>Grid system for better Design User Interface</h1>
    <p>A grid system is a design tool used to arrange content on a webpage. It is a series of vertical and horizontal lines that create a matrix of intersecting points, which can be used to align and organize page elements. Grid systems are used to create a consistent look and feel across a website, and can help to make the layout more visually appealing and easier to navigate.</p>
    <p>If you’ve been to New York City and have walked the streets, it is easy to figure out how to get from one place to another because of the grid system that the city is built on. Just as the predictability of a city grid helps locals and tourists get around easily, so do webpage grids provide a structure that guides users and designers alike. Because of their consistent reference point, grids improve page readability and scannability and allow people to quickly get where they need to go.</p>
    <h2>Lorem ipsum dolor sit.</h2>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Delectus nisi officia non reprehenderit consequatur accusamus beatae modi. Dolore laboriosam aspernatur ex fuga eligendi, ea perspiciatis consectetur nulla reprehenderit quibusdam illum excepturi cum amet architecto repudiandae quod. Voluptatibus, ab id. Perspiciatis ratione velit ullam officiis dolor aperiam ad rem ab pariatur?</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Delectus nisi officia non reprehenderit consequatur accusamus beatae modi. Dolore laboriosam aspernatur ex fuga eligendi, ea perspiciatis consectetur nulla reprehenderit quibusdam illum excepturi cum amet architecto repudiandae quod. Voluptatibus, ab id. Perspiciatis ratione velit ullam officiis dolor aperiam ad rem ab pariatur?</p>
    <h3>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsum fuga adipisci qui.</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa fugit eveniet vitae quia consectetur, vero maxime totam eligendi expedita autem dolorem, obcaecati ipsum accusamus natus mollitia quisquam, doloribus quasi dicta. Voluptatem odio ipsum maxime hic aperiam, obcaecati assumenda nostrum perspiciatis officia maiores nemo quasi, alias neque amet ducimus? Reprehenderit ex architecto fuga quod obcaecati ad corporis vitae illo veniam minima voluptatibus dolor autem numquam optio accusantium temporibus omnis exercitationem, quas, atque eos nobis quae inventore. Numquam commodi adipisci beatae ipsa? Voluptatum architecto voluptates mollitia deserunt aliquam. Quos animi molestias eius voluptatibus ullam possimus ad quasi unde quis modi dicta qui, sed est quas doloremque aliquid natus praesentium, repellendus quia delectus. Voluptatum labore ipsa esse assumenda ut ratione exercitationem quisquam earum!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa fugit eveniet vitae quia consectetur, vero maxime totam eligendi expedita autem dolorem, obcaecati ipsum accusamus natus mollitia quisquam, doloribus quasi dicta. Voluptatem odio ipsum maxime hic aperiam, obcaecati assumenda nostrum perspiciatis officia maiores nemo quasi, alias neque amet ducimus? Reprehenderit ex architecto fuga quod obcaecati ad corporis vitae illo veniam minima voluptatibus dolor autem numquam optio accusantium temporibus omnis exercitationem, quas, atque eos nobis quae inventore. Numquam commodi adipisci beatae ipsa? Voluptatum architecto voluptates mollitia deserunt aliquam. Quos animi molestias eius voluptatibus ullam possimus ad quasi unde quis modi dicta qui, sed est quas doloremque aliquid natus praesentium, repellendus quia delectus. Voluptatum labore ipsa esse assumenda ut ratione exercitationem quisquam earum!</p>
    <pre>
      <code class="language-javascript">
        const b = 2;
        const a = 1;
        document.write(a + b);
        document.write(a + b);
      </code>
    </pre>
  </div>
</div>

{% endblock %}
