<header class="header js-header">
  <div class="header__inner container">
    <div class="header__logo">My name</div>
    <button class="header__btn burger-btn js-burger-btn">
      <span></span>
      <span></span>
      <span></span>
    </button>
    <div class="header__aside">
      <nav class="header__nav nav">
        <a href="#" class="nav__link ">Blog</a>
        <a href="#" class="nav__link">Projects 2</a>
        <a href="#" class="nav__link is-active">About</a>
        <a href="#" class="nav__link">Newsletter</a>
      </nav>
      <div class="theme-switcher header__switcher">
        swich
      </div>
    </div>
  </div>
</header>