{% extends "src/layouts/_layout.html" %}
{# {% include "src/components/_hero.html" %} #}
{% block content %}
{# start hero #}
  <div class="hero">
    <div class="container hero__inner">
      THE BLOG
    </div>
  </div>
  {# end hero #}
  <div class="container">
    <h2>Recent blog posts</h2>
    <div class="articles-box">
      <div class="article-preview">
        <div class="article-preview__image">
          <img class="article-preview__img"src="/assets/img/art-preview.jpg" alt="article preview" />
        </div>
        <div class="article-preview__meta">
          <span class="article-preview__author">Olivia Rhye</span> • <span class="article-preview__date">1 Jan 2023</span>
        </div>
        <h2 class="article-preview__title">UX review presentations</h2>
        <p class="article-preview__description">How do you create compelling presentations that wow your colleagues and impress your managers?</p>
        <div class="article-preview__tags tags">
          <span class="tag">Design</span>
          <span class="tag tag--green">Research</span>
          <span class="tag tag--red">Presentation</span>
        </div>
      </div>
      <div class="article-preview">
        <div class="article-preview__image">
          <img class="article-preview__img" src="/assets/img/art-preview.jpg" alt="article preview" />
        </div>
        <div class="article-preview__meta">
          <span class="article-preview__author">Olivia Rhye</span> • <span class="article-preview__date">1 Jan 2023</span>
        </div>
        <h2 class="article-preview__title">UX review presentations</h2>
        <p class="article-preview__description">How do you create compelling presentations that wow your colleagues and impress your managers?</p>
        <div class="article-preview__tags tags">
          <span class="tag">Design</span>
          <span class="tag tag--green">Research</span>
          <span class="tag tag--red">Presentation</span>
        </div>
      </div>
      <div class="article-preview">
        <div class="article-preview__image">
          <img class="article-preview__img" src="/assets/img/art-preview.jpg" alt="article preview" />
        </div>
        <div class="article-preview__meta">
          <span class="article-preview__author">Olivia Rhye</span> • <span class="article-preview__date">1 Jan 2023</span>
        </div>
        <h2 class="article-preview__title">UX review presentations</h2>
        <p class="article-preview__description">How do you create compelling presentations that wow your colleagues and impress your managers?</p>
        <div class="article-preview__tags tags">
          <span class="tag">Design</span>
          <span class="tag tag--green">Research</span>
          <span class="tag tag--red">Presentation</span>
        </div>
      </div>
      <div class="article-preview">
        <div class="article-preview__image">
          <img class="article-preview__img"src="/assets/img/art-preview.jpg" alt="article preview" />
        </div>
        <div class="article-preview__meta">
          <span class="article-preview__author">Olivia Rhye</span> • <span class="article-preview__date">1 Jan 2023</span>
        </div>
        <h2 class="article-preview__title">UX review presentations</h2>
        <p class="article-preview__description">How do you create compelling presentations that wow your colleagues and impress your managers?</p>
        <div class="article-preview__tags tags">
          <span class="tag">Design</span>
          <span class="tag tag--green">Research</span>
          <span class="tag tag--red">Presentation</span>
        </div>
      </div>
      <div class="article-preview">
        <div class="article-preview__image">
          <img class="article-preview__img" src="/assets/img/art-preview.jpg" alt="article preview" />
        </div>
        <div class="article-preview__meta">
          <span class="article-preview__author">Olivia Rhye</span> • <span class="article-preview__date">1 Jan 2023</span>
        </div>
        <h2 class="article-preview__title">UX review presentations</h2>
        <p class="article-preview__description">How do you create compelling presentations that wow your colleagues and impress your managers?</p>
        <div class="article-preview__tags tags">
          <span class="tag">Design</span>
          <span class="tag tag--green">Research</span>
          <span class="tag tag--red">Presentation</span>
        </div>
      </div>
      <div class="article-preview">
        <div class="article-preview__image">
          <img class="article-preview__img" src="/assets/img/art-preview.jpg" alt="article preview" />
        </div>
        <div class="article-preview__meta">
          <span class="article-preview__author">Olivia Rhye</span> • <span class="article-preview__date">1 Jan 2023</span>
        </div>
        <h2 class="article-preview__title">UX review presentations</h2>
        <p class="article-preview__description">How do you create compelling presentations that wow your colleagues and impress your managers?</p>
        <div class="article-preview__tags tags">
          <span class="tag">Design</span>
          <span class="tag tag--green">Research</span>
          <span class="tag tag--red">Presentation</span>
        </div>
      </div>
    </div>

  </div>
  

{% endblock %}
